<h1>Blog Posts</h1>

<% if @current_user.present? %>
  <h4>Welcome <%= @current_user.name %></h4>
<% end %>
<div class="blog">
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <h6>Post by: <%= post.user.name %></h6>
    <p><%= truncate(post.body, length: 200) %></p>
    <%= link_to "Read more", post_path(post) %>
    <hr>
  <% end %>
</div>
